/* Logged Users */
.cont{
  display: flex;
  justify-content: center;
}
.authorProfile{
  margin-top: .9em;
  width: 80%;
  height: 200px;
  border-radius: 10px;
  border: 1px solid;
}
/****************/
