/* Logged Users */
.container{
  background-color: white;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.authorProfile{
  margin: 1em;
  /* width: 100%; */
  padding: 1em;
  border-radius: 15px;
  box-shadow: 0 0 11px 1px #ccc;
}
.content{
  margin: 1em;
  padding: 1em;
}
.authorProfile .topDiv, .authorProfile .bottomDiv{
  width: 100%;
}
.topDiv{
  border: 0;
  height: 65%;
  /* background-color: #ccc; */
  display: flex;
  flex-direction:row;
}
.authorPic{
  height: 100%;
  width: 38%;
  /* padding: .5em; */
  /* background-color: #aaa; */
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.authorPic img{
  width: 6.8em;
  height: 100%;
  border-radius: 1em;
}
.authorDetails{
  width: 100%;
  height: 100%;
  /* background-color: #bbb; */
  display: flex;
  padding: 0 .8em;
  flex-direction: column;
}
.userNameWork{
  font-family: var(--fontfam);
  font-weight: bold;

  height: 50%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
#userType, #userFullName{
  margin: .4em 0 0 .3em;
}
#userType{
  font-variant: inherit;
  font-size: .9em;
  color: #777;
}
#userFullName{
  font-size: 1.3em;
}
.userParam{
  margin-top: .5em;
  padding: .4em .3em;
  border-radius: 1em;
  background-color: #eee;
  height: 50%;
  display: flex;
}

.userParam div{
  height: 100%;
  width: 33.33%;
}
.userParam div{
  display:flex;justify-content: center;align-items: center;
  flex-direction: column;
}
.userParam .userParameters{
  color: #666;
}
.userParam .values{
  margin-top: .17em;
  font-weight: bold;
}
.bottomDiv{
  border: 0;
  /* height: 35%; */
  margin-top: .4em;
  display: flex;
  justify-content: center;
  /* background-color: #bbb; */
}
.bottomDiv div{
  padding-top: .7em;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkOne{

}
#linkTwo{
    margin-left: .7em;
}
.links{
  padding: .4em 0;
  width: 6em;
  border: 1px solid;
  border-radius: 13px;
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
.linkOne, .linkTwo{
  width: 50%;
}
.channelsDiv{
  padding: 1em;
}
.channelsDiv .title, .popularArticles .title{
  font-weight: bold;
  font-size: 1.3em;
}
.channel{
  margin-top: .6em;
  border-radius: 15px;
  /* box-shadow: 0 0 11px 1px #ccc; */
  display: flex;
  flex-direction: column;
}
.channel .channels:not(:last-child){
  /* border-bottom: 1px solid #777; */
}
.channelImg{
  width: 30%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.channelImg img{
  border: 1px solid #ddd;
  width: 80px;
  height: 80px;
  border-radius: 200px;
  background-color: #eee;
}
.channelDetail{
  width: 70%;
  padding: 0 .7em .7em .7em;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.articlesCount{
  margin-top: .4em;
  color: #555;
  font-size: .8em;
}
.channelButtons{
  display: flex;
  align-items: center;
  margin-top: .4em;
}
.channelButtons a{
  border: 1px solid;
  text-decoration: none;
  padding: .25em .38em;
  font-size: .7em;
  border-radius: 5px;
  text-transform: uppercase;
}
.channels{
  display: flex;
  flex-direction: row;
}
.popularArticles{
  margin-top: 1em;
}
.popularArticles .select{
  margin-left: 1em;
  margin-right: .3em;
  outline: 0;
  border: 0;
}
.featuredArticle{
  margin: 1em;
  padding: 1em;
  border-radius: 20px;
  /* box-shadow: 0 0 11px 1px #ccc; */
  background-color: purple;

}
.featuredArticle .title{
  font-size: .8em;
  color: white;
  font-weight: bold;
  background-color: #9733a2;
  padding: .24em .4em;
  border-radius: 5px;
}
.featuredPost{
  padding: 1em .3em 0 .3em;
}
.featuredPost .fpdetail{
  margin-top: .7em;
  color: white;
  font-size: .8em;
  font-weight: bold;
  font-variant: small-caps;
}
.featuredPost .post{
  font-size: 1em;
  font-weight: bold;
  color: white;
}
.fpDot{
  margin: 0 .4em;
}

/* Posts  */

.posts{
  display: flex;
  flex-direction:column;
  min-height: 200px;
  min-width: 100%;
  margin-top: .3em;
  align-items: center;
  background-color: #fff;
}
.postBody{
  width: 90%;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  /* border: 1px solid #ccc; */
  border-radius: 10px;
  margin-top: .3em;
  padding: .4em;
}
.postBody .postPic{
  display: flex;
  justify-content: center;
  background-color: #eee;
  max-height: 500px;
  border-radius: 10px;
  border: 0;
  width: 100%;
}
.postBody .postPic img{
  border: 1px solid #666;
  min-height: 140px;
  border-radius: 10px;
  width: 100%;
}
.postBody .postTitle{
  font-family: var(--fontfam);
  font-weight: bold;
  font-size: 1.2em;
  color: #333;
  text-transform: capitalize;
  padding: .4em .1em;
}
#postTitle, #channelName, #authorName{
  text-decoration:none;
  color:#333;
}
#channelName, #authorName{
  color: #666;
}
#postTitle:hover, #channelName:hover, #authorName:hover{
  color:#0165E1;
}
.extFoot{
  display: flex;
  flex-direction: row;
}
.extFoot span{
  font-family: var(--fontfam);
  font-size: .9em;
  font-weight: bold;
  color: #666;
  text-transform: capitalize;
  /* width: 50%; */
}
#channelName{
  margin-left: .2em;
}
#Subscribe{
  color: blue;
  text-align: center;
}
#date{
  /* margin-left: .3em; */
}


.postFooter{
  display: flex;
  flex-direction: row;
  width: 95%;
  min-height: 40px;
  padding: .4em 0em;
}
.postFooter .footItems{
  margin: .2em .6em;
  width: 33%;
  border-radius: 22px;
  background-color: var(--insCol);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footItems img{
  width: 1.2em;
  height: 1.2em;
}
.footItems{
  padding: .3em;
}
.postFooter .footImages{
  filter: var(--color_666);
}
.footItems .react{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dot{
  filter : var(--color_555);
  margin: 0em .6em;
}

@media (max-width:500px) {
  .tags{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .tags::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width:380px) {
  .extFoot span{
    font-size: .75em;
  }
  .postBody .postTitle{
    font-size: 1em;
  }
  .footItems img{
    width: .9em;
    height: .9em;
  }
  .rt{
    font-size: .8em;
  }
}
@media (max-width:300px) {
  .extFoot span{
    font-size: .6em;
  }
  .postBody .postTitle{
    font-size: .8em;
  }
  .postBody{
    min-height: auto;
  }
  .footItems img{
    width: .7em;
    height: .7em;
  }
  .rt{
    font-size: .6em;
  }
  .postFooter{
    min-height:auto;
    padding-top: 0;
  }
}
/* Posts  */


@media (max-width: 500px){
.articlesDiv {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
.articlesDiv::-webkit-scrollbar {
    display: none;
  }
}
/****************/
