.mCont{
  width: 100vw;
  height:100vh;
  background-color: rgba(20, 20, 20, 0.5);
  max-width: 500px;
  display: flex;
  position: absolute;
  align-items:center;
  justify-content:center;
  overflow: scroll;
}
.mCont .getData{
  width: 100%;
  min-height: 200px;
  background-color: white;
  z-index: 999999;
  bottom: 10px;
  border-radius: 7px;
  margin: .4em .4em 2em .4em;
  padding: 1em 0 .3em 0;
  display: flex;
  flex-direction: column;
}
.mCont .getData .justDiv{
  font-size: 1em;
  font-family: var(--fontFam);
  color: black;
  margin: .3em;
  padding: .2em 2em;
  font-weight: 500;
}
.mCont .getData form{
  font-weight: 500;
  margin-top: .6em;
}
.dateInput{
  display: flex;
}
.dateInput input{
  width: 50px;
  margin: .9em .3em;
  font-size: 1.1em;
  border: 1px solid #aaa;
  padding: .2em .2em;
  text-align: center;
  border-radius: 3px;
  outline: 0;
}
.actionLabel{
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
}
.splitter{
  width: 80px;
  border: 2px solid #ddd;
  background-color: #ddd;
  margin: 1em;
}
#message{
  font-size: .6em;
  display: none;
}
.button{
  display: flex;
  justify-content: center;
  margin: .8em .2em;
}
.button input{
  outline: 0;
  font-size: 1em;
  padding: .4em .7em;
  font-family: var(--fontFam);
  border-radius: 4px;
  background-color: purple;
  border:0;
  color: white;
  font-weight: 500;
  min-width: 100px;
}
.desInput textarea{
  outline: 0;
  padding: .3em;
  max-width: 300px;
  border-radius: 5px;
  margin-top: .6em;
  width: 100%;
}
.interestsDiv{
  margin-top: .7em;
}
.interests{
  margin-top: .4em;
  /* border: 1px solid #aaa; */
  padding: .3em;
  border-radius: 3px;
}
.interests label{
  border: 1px solid #aaa;
  padding: .2em .8em;
  border-radius: 20px;
  display:inline-block;
  margin: .2em;
}
.interests input{
  display: none;
}
