.mCont{
  width: 100vw;
  height: 100%;
  max-width: 500px;
  display: flex;
  position: absolute;
  background-color: white;
  overflow: scroll;
}
.mCont .getData{
  width: 100%;
  min-height: 200px;
  background-color: white;
  z-index: 999999;
  bottom: 10px;
  padding: 1em 0 .3em 0;
  display: flex;
  flex-direction: column;
}
.mCont .getData .justDiv{
  font-size: 1em;
  font-family: var(--fontFam);
  color: black;
  margin: .3em;
  padding: .2em 1.5em;
  font-weight: 500;
}
.mCont .getData form{
  font-weight: 500;
  margin-top: .6em;
}
.dateInput{
  display: flex;
}
.dateInput input{
  background-color: white;
  margin: .9em .3em;
  font-size: 1.1em;
  border: 1px solid #aaa;
  padding: .2em .2em;
  text-align: center;
  border-radius: 3px;
  outline: 0;
}
.actionLabel{
  margin-top:.9em;
  font-size: 1.1em;
  display: flex;
  flex-direction: column;
  align-items:center;
  text-align: center;
}
.splitter{
  width: 80px;
  border: 2px solid #ddd;
  background-color: #ddd;
  margin: 1em;
}
#message{
  font-size: .6em;
  display: none;
}
.button{
  display: flex;
  justify-content: center;
  margin: 1.5em .2em;
}
.heading{
  font-size: 1.2em;
}
.button input{
  outline: 0;
  font-size: 1.1em;
  padding: .4em .7em;
  font-family: var(--fontFam);
  border-radius: 4px;
  background-color: purple;
  border:0;
  color: white;
  font-weight: 500;
  min-width: 100px;
}
.desInput textarea{
  outline: 0;
  padding: .3em;
  max-width: 300px;
  border-radius: 5px;
  margin-top: .6em;
  width: 100%;
  font-family: var(--fontFam);
  padding: .4em;
}
.interestsDiv{
  margin-top: .7em;
}
.interests{
  margin: .4em 0;
  padding: .3em;
  border-radius: 3px;
}
.interests .tags{
  text-transform: capitalize;
  border: 1px solid #aaa;
  padding: .3em 1em;
  display:inline-block;
  margin: .3em;
  font-weight: 500;
  font-size: 1.1em;
  border-radius: 100px;
  color: #555;
}
.interests .chk{
display: none;
}
.tags label span{
  display: inline-block;
  transition-duration:   .5s;
  font-size: 1.5em;
  margin-left: .3em;
}
.tags label{
  display: flex;
justify-content: center;
align-items: center;
}
#cCount{
  color: red;
}
.interests .chk:checked ~ .tags {
  background-color: green;
  color: white;
}
input[type="date"]::before {
	color: #999999;
	content: attr(placeholder);
}
input[type="date"] {
	color: #ffffff;
}
input[type="date"]:focus,
input[type="date"]:valid {
	color: #666666;
}
input[type="date"]:focus::before,
input[type="date"]:valid::before {
	content: "" !important;
}
